body{
    background-color: rgb(230, 230, 230);
}

#img-div{
    
    width: 60%;
    display: inline-block;
}

#header-img{
    max-width: 30%;
}
header{
    
    
}

nav {
    display: inline-block;

}

nav a{
    padding-right: 100px;
    text-decoration: none;
}

#title{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}

#form-div{
    display: flex;
    justify-content: center;
    margin-top: 8px;
}

#button{
    display: block;
    margin-left: 30px;
    background-color: yellow;
    margin-top: 3px;
    border: 0;
    font-weight: bold;
}

.product{
    padding-top: 70px;
    font-size: 85%;
}

#product-div{
    width: 40%;
    
    margin: 0 auto;
}

#price{
    width: 50%;
    
    margin:0 auto;
    height: 35vh;
    margin-top:17px;
}

#video-div{
    width: 40%;
    height: 45vh;
    margin: 0 auto;
    
}
iframe{
    width: 90%;
    height: 80%;
}

.price-box{
    width: 32%;
    display: inline-block;
    height: 35vh;
    border:solid;
    border-width: 1px;
    text-align: center;
    font-size:1vw;
    
    
    
}

.box-title{
    padding-top:9px;
    height: 12%;
    text-align: center;
    background-color: rgb(201, 201, 201);
    margin-bottom: 10px;
    font-size: 70%;
}

#button-product{
    margin-left:10px;
    background-color: yellow;
    border: 0;
    font-weight: bold;
    font-size: 1vw;
}

#contact{
    width: 98.2%;
    background-color:rgb(189, 189, 189);
    height: 20%;
    text-align: right;
}


@media screen and (max-width: 600px) {
    .price-box {
      font-size: 3vw;
      
      margin: 0 auto;
      height: 20vh;

    }
  }